<footer class="site-footer">
  <div class="wrapper">
        <p>{{ site.description }}</p>
        <ul class="social-media-list">
          <li>{% include icon-facebook.html username=site.facebook_group %}</li>
          <li>{% include icon-github.html username=site.github_username %}</li>
          <li>{% include icon-groups.html username=site.google_group %}</li>
          <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          <li>{% include icon-youtube.html username=site.youtube_username %}</li>
        </ul>
  </div>
</footer>
