<!DOCTYPE HTML>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
        <link rel="stylesheet" href="assets/css/main.css" />
        <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
        <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

        <script src="assets/js/jquery.min.js"></script>
    </head>
    <body>
        <!-- Wrapper -->
        <div id="wrapper">

             <div>
                <!-- Header -->
                <header id="header">
                    <h1><a href="/">Técnicas de Gráficos por Computadora</a></h1>
                    <nav class="links">
                        <ul>
                            <li><a href="info">Información</a></li>
                            <li><a href="tp">Trabajo Práctico</a></li>
                            <li><a href="clases">Clases</a></li>
                            <li><a href="material">Material</a></li>
                        </ul>
                    </nav>
                    <nav class="main">
                        <ul>
                            <li class="menu">
                                <a class="fa-bars" href="#menu">Menu</a>
                            </li>
                        </ul>
                    </nav>
                </header>
                <!-- Menu -->
                <div id="menu">
                    <!-- Links -->
                    <section>
                        <ul class="links">
                            <li>
                                <a href="info">
                                    <h3>Información</h3>
                                    <p>Datos de la cátedra</p>
                                </a>
                            </li>
                            <li>
                                <a href="tp">
                                    <h3>Trabajo Práctico</h3>
                                    <p>Enunciado Actual e Historicos</p>
                                </a>
                            </li>
                            <li>
                                <a href="clases">
                                    <h3>Clases</h3>
                                    <p>Cronograma y Apuntes</p>
                                </a>
                            </li>
                            <li>
                                <a href="material">
                                    <h3>Material</h3>
                                    <p>Guias, Parciales, y Links Utiles</p>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>

                

            </div>


            <!-- Main -->
            {{ content }}
                 
             <div id="main">
                 <!-- Footer -->
                    <div id="footer">
                        <ul class="icons">
                            <li><a href="https://www.facebook.com/groups/tgcutn/" class="fa-facebook"><span class="label">Facebook</span></a></li>
                            <li><a href="https://github.com/tgc-utn/tgc-viewer" class="fa fa-github"><span class="label">GitHub</span></a></li>
                            <li><a href="#" class="fa-envelope"><span class="label">Email</span></a></li>
                            <li><a href="http://groups.google.com/group/TecnicasDeGraficosPorComputadora" class="fa-google"><span class="label">GoogleGrasdoups</span></a></li>
                        </ul>
                    </div>
                </div>
        </div>
        
        <!-- Template Scripts -->
        <script src="assets/js/skel.min.js"></script>
        <script src="assets/js/util.js"></script>
        <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
        <script src="assets/js/main.js"></script>
    </body>
</html>
